@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('2.png') no-repeat center center;
    background-size: cover; /* garante que a imagem cubra toda a tela */
    animation: animate 16s ease-in-out infinite;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #cf9031;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation {
    display: flex;
}

header .navigation a {
    color: #c08020;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: background 0.3s;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #e0e0e0;
}

.content {
    max-width: 650px;
    margin: 150px auto 60px 50px; 
    padding: 0 20px;
}

.content .info h2 {
    color: #774e0f;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color: #ffffff;
    background: #774e0f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.content .info-btn:hover {
    background: #cf8a21;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a {
    position: relative;
    color: #f1af4b;
    font-size: 25px;
    transition: transform 0.3s;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover {
    transform: scale(1.5);
}

#check {
    display: none;
}

.menu-btn,
.close-btn {
    display: none;
}

@media (max-width: 960px) {
    header {
        padding: 20px 40px;
    }

    header .navigation {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(102, 68, 17, 0.712);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .menu-btn,
    .close-btn {
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: color 0.3s;
        color: #ffa620;
        z-index: 3;
    }

    .close-btn {
        display: none;
    }

    #check:checked ~ .menu-btn {
        display: none;
    }

    #check:checked ~ .close-btn {
        display: block;
        position: fixed;
    }

    #check:checked ~ .navigation {
        display: flex;
    }

    header .navigation a {
        font-size: 24px;
        margin: 20px 0;
    }

    .content {
        margin: 120px 20px;
    }

    .content .info h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
     section {
        background-size: cover; /* garante que cubra mesmo em telas menores */
        background-position: center top; /* centraliza horizontal e começa do topo verticalmente */
    }
    .content .info h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span {
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}

@keyframes animate {
    0% {
        background-image: url('/img/1.png');
    }
    20% {
        background-image: url('/img/2.png');
    }
    40% {
        background-image: url('/img/3.png');
    }
    60% {
        background-image: url('/img/1.png');
    }
    80% {
        background-image: url('/img/2.png');
    }
    100% {
        background-image: url('/img/3.png');
    }
}
